streamlit
python-dotenv
# LangChain and Langgraph
langchain
langgraph

# Vector store
chromadb

# Embeddings
sentence-transformers
transformers
torch
# For file processing
tqdm
unstructured
